In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("reduced.csv", delimiter=',')

# Classify timestamps as datetimes
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.set_index(df['Timestamp'], inplace=True)

In [4]:
# df.drop(['Sin', 'Cos'], axis=1)

def interpolate_linear(df):
    df['sin'] = np.sin(np.deg2rad(df['Wind Direction']))
    df['cos'] = np.cos(np.deg2rad(df['Wind Direction']))

    df_lin = df.copy()
    df_lin.interpolate(inplace=True)#, limit=3)

    df['Wind Direction Linear'] = np.rad2deg(np.arctan2(df_lin['sin'], df_lin['cos'])).apply(full_range)
    df['Wind Speed Linear'] = df_lin['Wind Speed']

    df = df.drop(['sin', 'cos'], axis=1)
    return df

def interpolate_cubic_spline(df):
    df['sin'] = np.sin(np.deg2rad(df['Wind Direction']))
    df['cos'] = np.cos(np.deg2rad(df['Wind Direction']))

    df_spl = df.copy()
    df_spl.interpolate(method='cubic', order=3, inplace=True)#, limit=3) # cubic == spline?
    df['Wind Direction Spline'] = np.rad2deg(np.arctan2(df_spl['sin'], df_spl['cos'])).apply(full_range)
    df['Wind Speed Spline'] = df_spl['Wind Speed']

    df = df.drop(['sin', 'cos'], axis=1)
    return df

def full_range(f):
    if f < 0:
        return f + 360
    else:
        return f

interpolate_linear(df)
interpolate_cubic_spline(df)
df = df.drop(['sin', 'cos'], axis=1)


df = df.resample('3600S').asfreq()[:]

df
# df['2016-04-04']['Wind Direction Spline'].plot()
# df['2016-04-04']['Wind Direction Linear'].plot()


# writer = pd.ExcelWriter('Meteorological Interpolated.xlsx')
# df.to_excel(writer,'ledata')
# writer.save()

,Timestamp,Wind Direction,Wind Speed,Wind Direction Linear,Wind Speed Linear,Wind Direction Spline,Wind Speed Spline
Timestamp,,,,,,,
2016-04-01 00:00:00,2016-04-01 00:00:00,190.5,4.0,190.500000,4.000000,190.500000,4.000000
2016-04-01 01:00:00,2016-04-01 01:00:00,NaN,NaN,194.758747,4.333333,198.167349,4.341209
2016-04-01 02:00:00,2016-04-01 02:00:00,NaN,NaN,199.041253,4.666667,202.094482,4.690745
2016-04-01 03:00:00,2016-04-01 03:00:00,203.3,5.0,203.300000,5.000000,203.300000,5.000000
2016-04-01 04:00:00,2016-04-01 04:00:00,NaN,NaN,202.566707,5.066667,202.847087,5.220366
2016-04-01 05:00:00,2016-04-01 05:00:00,NaN,NaN,201.833293,5.133333,201.769963,5.303236
2016-04-01 06:00:00,2016-04-01 06:00:00,201.1,5.2,201.100000,5.200000,201.100000,5.200000
2016-04-01 07:00:00,2016-04-01 07:00:00,NaN,NaN,202.366460,4.833333,201.612853,4.892141
2016-04-01 08:00:00,2016-04-01 08:00:00,NaN,NaN,203.633540,4.466667,203.049847,4.481498
2016-04-01 09:00:00,2016-04-01 09:00:00,204.9,4.1,204.900000,4.100000,204.900000,4.100000
2016-04-01 10:00:00,2016-04-01 10:00:00,NaN,NaN,205.599965,3.933333,206.630484,3.848107
2016-04-01 11:00:00,2016-04-01 11:00:00,NaN,NaN,206.300035,3.766667,207.569784,3.700403
2016-04-01 12:00:00,2016-04-01 12:00:00,207.0,3.6,207.000000,3.600000,207.000000,3.600000
2016-04-01 13:00:00,2016-04-01 13:00:00,NaN,NaN,207.033333,3.400000,204.905500,3.489504
2016-04-01 14:00:00,2016-04-01 14:00:00,NaN,NaN,207.066667,3.200000,203.876355,3.309483
2016-04-01 15:00:00,2016-04-01 15:00:00,207.1,3.0,207.100000,3.000000,207.100000,3.000000
2016-04-01 16:00:00,2016-04-01 16:00:00,NaN,NaN,219.140874,2.633333,217.071005,2.545730
2016-04-01 17:00:00,2016-04-01 17:00:00,NaN,NaN,231.759126,2.266667,231.017957,2.109812
2016-04-01 18:00:00,2016-04-01 18:00:00,243.8,1.9,243.800000,1.900000,243.800000,1.900000
2016-04-01 19:00:00,2016-04-01 19:00:00,NaN,NaN,249.876755,2.233333,252.459170,2.057206
2016-04-01 20:00:00,2016-04-01 20:00:00,NaN,NaN,256.023245,2.566667,258.161198,2.454973
2016-04-01 21:00:00,2016-04-01 21:00:00,262.1,2.9,262.100000,2.900000,262.100000,2.900000
2016-04-01 22:00:00,2016-04-01 22:00:00,NaN,NaN,264.035546,2.880000,264.874593,3.231683
2016-04-01 23:00:00,2016-04-01 23:00:00,NaN,NaN,265.977770,2.860000,266.761451,3.420197
2016-04-02 00:00:00,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2016-04-02 01:00:00,2016-04-02 01:00:00,NaN,NaN,267.922230,2.840000,269.098450,3.379207
2016-04-02 02:00:00,2016-04-02 02:00:00,NaN,NaN,269.864454,2.820000,270.225580,3.155445
2016-04-02 03:00:00,2016-04-02 03:00:00,271.8,2.8,271.800000,2.800000,271.800000,2.800000
2016-04-02 04:00:00,2016-04-02 04:00:00,NaN,NaN,274.464738,2.366667,274.107641,2.335289
2016-04-02 05:00:00,2016-04-02 05:00:00,NaN,NaN,277.135262,1.933333,276.945948,1.861908
...,...,...,...,...,...,...,...
2016-12-30 18:00:00,2016-12-30 18:00:00,265.9,5.1,265.900000,5.100000,265.900000,5.100000
2016-12-30 19:00:00,2016-12-30 19:00:00,NaN,NaN,267.233093,5.033333,267.641062,5.177545
2016-12-30 20:00:00,2016-12-30 20:00:00,NaN,NaN,268.566907,4.966667,268.738260,5.066804
2016-12-30 21:00:00,2016-12-30 21:00:00,269.9,4.9,269.900000,4.900000,269.900000,4.900000
2016-12-30 22:00:00,2016-12-30 22:00:00,NaN,NaN,272.198763,4.800000,271.681420,4.780266
2016-12-30 23:00:00,2016-12-30 23:00:00,NaN,NaN,274.501237,4.700000,274.041907,4.694372
2016-12-31 00:00:00,2016-12-31 00:00:00,276.8,4.6,276.800000,4.600000,276.800000,4.600000
2016-12-31 01:00:00,2016-12-31 01:00:00,NaN,NaN,278.699303,4.433333,279.667155,4.464356
2016-12-31 02:00:00,2016-12-31 02:00:00,NaN,NaN,280.600697,4.266667,281.869732,4.292745
2016-12-31 03:00:00,2016-12-31 03:00:00,282.5,4.1,282.500000,4.100000,282.500000,4.100000
2016-12-31 04:00:00,2016-12-31 04:00:00,NaN,NaN,280.667293,3.933333,281.065282,3.903053
2016-12-31 05:00:00,2016-12-31 05:00:00,NaN,NaN,278.832707,3.766667,278.720392,3.727240
2016-12-31 06:00:00,2016-12-31 06:00:00,277.0,3.6,277.000000,3.600000,277.000000,3.600000
2016-12-31 07:00:00,2016-12-31 07:00:00,NaN,NaN,278.832707,3.433333,277.120104,3.523434
2016-12-31 08:00:00,2016-12-31 08:00:00,NaN,NaN,280.667293,3.266667,279.097927,3.398296
2016-12-31 09:00:00,2016-12-31 09:00:00,282.5,3.1,282.500000,3.100000,282.500000,3.100000
2016-12-31 10:00:00,2016-12-31 10:00:00,NaN,NaN,281.600074,2.566667,286.004746,2.562470
2016-12-31 11:00:00,2016-12-31 11:00:00,NaN,NaN,280.699926,2.033333,286.383946,1.953652
2016-12-31 12:00:00,2016-12-31 12:00:00,279.8,1.5,279.800000,1.500000,279.800000,1.500000
2016-12-31 13:00:00,2016-12-31 13:00:00,NaN,NaN,257.232829,1.633333,260.034557,1.374836
2016-12-31 14:00:00,2016-12-31 14:00:00,NaN,NaN,229.667171,1.766667,230.292737,1.538949
2016-12-31 15:00:00,2016-12-31 15:00:00,207.1,1.9,207.100000,1.900000,207.100000,1.900000
2016-12-31 16:00:00,2016-12-31 16:00:00,NaN,NaN,197.171635,2.366667,193.977716,2.367818
2016-12-31 17:00:00,2016-12-31 17:00:00,NaN,NaN,186.928365,2.833333,184.939633,2.860921
2016-12-31 18:00:00,2016-12-31 18:00:00,177.0,3.3,177.000000,3.300000,177.000000,3.300000
2016-12-31 19:00:00,2016-12-31 19:00:00,NaN,NaN,171.682171,3.366667,169.406315,3.605746
2016-12-31 20:00:00,2016-12-31 20:00:00,NaN,NaN,166.317829,3.433333,163.300325,3.698849
2016-12-31 21:00:00,2016-12-31 21:00:00,161.0,3.5,161.000000,3.500000,161.000000,3.500000
2016-12-31 22:00:00,2016-12-31 22:00:00,NaN,NaN,161.000000,3.500000,NaN,NaN
2016-12-31 23:00:00,2016-12-31 23:00:00,NaN,NaN,161.000000,3.500000,NaN,NaN